AddDefaultCharset UTF-8
DirectoryIndex run.php

RewriteEngine on
RewriteBase /

#RewriteCond %{HTTP_HOST} !^manga-watcher\.loc
#RewriteRule .* http://manga-watcher.loc/$0/ [R=301,L]

#RewriteCond %{REQUEST_URI} !.*\/$
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule .* $0/ [L,R=301]

RewriteCond %{REQUEST_URI} ^/cron.*$
RewriteRule .* cron.php [QSA,L]

RewriteCond %{REQUEST_URI} ^/api.*$
RewriteRule .* api.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !^.*(\.jpg|\.css|\.js|\.gif|\.png|\.swf|\.svg)$
RewriteRule .* run.php [QSA,L]